<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898195697004-slls22j4a43hg3vj2amhmq63o2rfnafp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898195697004-slls22j4a43hg3vj2amhmq63o2rfnafp</string>
	<key>API_KEY</key>
	<string>AIzaSyBOwgkTXJvnaXGE8z6dZYs-VwTp8QUNzLU</string>
	<key>GCM_SENDER_ID</key>
	<string>898195697004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoManager</string>
	<key>PROJECT_ID</key>
	<string>todo-manager-2f46a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-manager-2f46a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898195697004:ios:9080dcdd2ae3dce23d1749</string>
</dict>
</plist>